.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.headerMenu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}
.headerMenu >li{
    cursor: pointer;
}
.headerMenu >li:hover{
   color: var(--orange);
}