.join{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
}


.leftJ{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.leftJ>hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}
.leftJ>div{
    display: flex;
    gap: 1rem;
}

.rightJ{
 display: flex;
 justify-content: center;
 align-items: flex-end;
}
.emailContainer{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}
.emailContainer>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
    font-size: 1rem;
}
::placeholder{
    color: var(--lightgray);
}
